# Ignores everything
/*


# Except:
##########
# GIT files
##########
!.gitignore
!README.md
!LICENSE


##########
# Addons files
##########

# the main plugin
!/addons/dialog_plugin

# the unit-test plugin that needs an update
!/addons/WAT
!/tests/*


##########
# Docs
##########
!/docs/*