# Ignores everything
/*


# Except:
##########
# GIT files
##########
!.gitignore
!.gitattributes
!README.md
!LICENSE


##########
# Addons files
##########

# Include the add-ons folder
!/addons
# ...but ignore its contents.
addons/*

# Except for the main plugin
!/addons/textalog/
!/addons/textalog/*

# And the unit-test plugin that I will add sometime


# And for last (but not less important), script templates
!/script_templates/
!/script_templates/*

##########
# Docs
##########
!/docs/
!/docs/*
# No forget the gitbook configuration file
!.gitbook.yaml